<div class="row m-0 p-0">
  <h3 class="mt-3 mb-2 col-7" style="justify-content: flex-start;">License list.</h3>
  <div class="mt-3 mb-2 col-5" style="display: flex; justify-content: flex-end;">
  </div>
</div>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>LicenseKey</th>
        <th>Activateable Amount</th>
        <th>Times Activated</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngIf="(licenses | async)?.length==0">
            <td colspan="5" class="alert alert-warning">No licenses exist yet!</td>
        </tr>
        <tr *ngFor="let license of licenses | async">
            <td>{{license.id}}</td>
            <td>{{license.licenseKey}}</td>
            <td>{{license.activateableAmount}}</td>
            <td>{{license.timesActivated}}</td>
            <td class="btn-group">
                <a routerLink="/products/{{license.id}}" class="btn btn-info">Show</a>
            </td>
        </tr>
    </tbody>
</table>
