<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Softwarefull Admin</h3>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="#">Dashboard</a>
      </li>
      <li *ngIf="auth.isAuthenticated()">
        <a href="#">Profile</a>
      </li>
      <li *ngIf="auth.isAuthenticated()">
        <a href="#productSubmenu" data-toggle="collapse" data-target="#productSubmenu" aria-expanded="false" class="dropdown-toggle" (click)="productToggleCollapse()">Product</a>
        <ul class="collapse list-unstyled show" id="productSubmenu" *ngIf="productCollapse == true">
          <li>
            <a routerLink="products">Overview</a>
          </li>
          <li>
            <a routerLink="products/create">Create</a>
          </li>
        </ul>
      </li>
      <li *ngIf="auth.isAuthenticated()">
        <a href="#licenseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="licenseToggleCollapse()">License</a>
        <ul class="collapse list-unstyled show" id="licenseSubmenu" *ngIf="licenseCollapse == true">
          <li>
            <a routerLink="licenses">License</a>
          </li>
        </ul>
      </li>
      <li *ngIf="auth.isAuthenticated()">
        <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="userToggleCollapse()">User</a>
        <ul class="collapse list-unstyled show" id="userSubmenu" *ngIf="userCollapse == true">
          <li>
            <a routerLink="users">User</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>

</div>
<!--<div class="nav-container">-->
<!--  <nav class="navbar navbar-expand-md navbar-ligth bg-primary">-->
<!--    <div class="container">-->
<!--      <div class="navbar-brand logo"></div>-->
<!--      <button-->
<!--        class="navbar-toggler"-->
<!--        type="button"-->
<!--        data-toggle="collapse"-->
<!--        data-target="#navbarNav"-->
<!--        aria-controls="navbarNav"-->
<!--        [attr.aria-expanded]="!isCollapsed"-->
<!--        aria-label="Toggle navigation"-->
<!--        (click)="isCollapsed = !isCollapsed"-->
<!--      >-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->

<!--      <div-->
<!--        class="collapse navbar-collapse"-->
<!--        id="navbarNav"-->
<!--        [ngbCollapse]="isCollapsed"-->
<!--      >-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--          <li class="nav-item">-->
<!--            <a routerLink="about" class="nav-link">About us</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a routerLink="products" class="nav-link">Products</a>-->
<!--          </li>-->
<!--          <li class="nav-item" *ngIf="auth.isAuthenticated() && auth.userHasScopes(['read:orderhistory'])">-->
<!--            <a routerLink="external-api" class="nav-link">Order history</a>-->
<!--          </li>-->
<!--        </ul>-->

<!--        <ul class="navbar-nav d-none d-md-block">-->

<!--          &lt;!&ndash; Login button: show if NOT authenticated &ndash;&gt;-->
<!--          <li-->
<!--            class="nav-item"-->
<!--          >-->
<!--            <button-->
<!--              id="qsLoginBtn"-->
<!--              class="btn btn-primary btn-margin"-->
<!--              (click)="loginWithPopup()"-->
<!--              *ngIf="!auth.isAuthenticated()"-->
<!--            >-->
<!--              Log in-->
<!--            </button>-->
<!--          </li>-->
<!--          &lt;!&ndash; / Login button &ndash;&gt;-->

<!--          &lt;!&ndash; Fullsize dropdown: show if authenticated &ndash;&gt;-->
<!--          <li-->
<!--            class="nav-item dropdown"-->
<!--            *ngIf="auth.isAuthenticated()"-->
<!--            ngbDropdown-->
<!--          >-->
<!--            <a-->
<!--              ngbDropdownToggle-->
<!--              class="nav-link dropdown-toggle"-->
<!--              id="profileDropDown"-->
<!--              data-toggle="dropdown"-->
<!--            >-->
<!--              &lt;!&ndash; Profile image should be set to the profile picture from the id token &ndash;&gt;-->
<!--              <img-->
<!--                [src]="profile?.picture"-->
<!--                alt="Profile picture"-->
<!--                class="nav-user-profile rounded-circle"-->
<!--                style="width: 40px;"-->
<!--              />-->
<!--            </a>-->
<!--            <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu>-->
<!--              &lt;!&ndash; Show the user's full name from the id token here &ndash;&gt;-->
<!--              <div class="dropdown-header">-->
<!--                {{ profile?.nickname }}-->
<!--              </div>-->
<!--              <a routerLink="/profile" class="dropdown-item dropdown-profile">-->
<!--                <fa-icon [icon]="faUser" class="mr-3"></fa-icon> Profile-->
<!--              </a>-->
<!--              <a href="https://softwarefullwebshop.azurewebsites.net" class="dropdown-item dropdown-profile">-->
<!--                <fa-icon [icon]="faUser" class="mr-3"></fa-icon> Webshop-->
<!--              </a>-->
<!--              <button-->
<!--                (click)="logout()"-->
<!--                class="btn btn-link dropdown-item"-->
<!--                id="qsLogoutBtn"-->
<!--              >-->
<!--                <fa-icon class="mr-3"></fa-icon> Log out-->
<!--              </button>-->
<!--            </div>-->
<!--          </li>-->
<!--          &lt;!&ndash; /Fullsize dropdown &ndash;&gt;-->
<!--        </ul>-->

<!--        &lt;!&ndash; Responsive login button: show if NOT authenticated &ndash;&gt;-->
<!--        <ul-->
<!--          class="navbar-nav d-md-none"-->
<!--        >-->
<!--          <button-->
<!--            class="btn btn-primary btn-block"-->
<!--            id="qsLoginBtn"-->
<!--            (click)="loginWithRedirect()"-->
<!--          >-->
<!--            Log in-->
<!--          </button>-->
<!--        </ul>-->
<!--        &lt;!&ndash; /Responsive login button &ndash;&gt;-->

<!--        &lt;!&ndash; Responsive profile dropdown: show if authenticated &ndash;&gt;-->
<!--        <ul-->
<!--          class="navbar-nav d-md-none justify-content-between"-->
<!--          *ngIf="auth.auth0.user$ | async as user"-->
<!--          style="min-height: 170px;"-->
<!--        >-->
<!--          <li class="nav-item">-->
<!--            <span class="user-info">-->
<!--              &lt;!&ndash; Profile image should be set to the profile picture from the id token &ndash;&gt;-->
<!--              <img-->
<!--                alt="Profile picture"-->
<!--                class="nav-user-profile d-inline-block rounded-circle mr-3"-->
<!--                style="width: 75px;"-->
<!--                [src]="user.picture"-->
<!--              />-->
<!--              &lt;!&ndash; Show the user's full name from the id token here &ndash;&gt;-->
<!--              <h6 class="d-inline-block">{{ user.name }}</h6>-->
<!--            </span>-->
<!--          </li>-->
<!--          <li>-->
<!--            <fa-icon [icon]="faUser" class="mr-3"></fa-icon>-->
<!--            <a routerLink="/profile">Profile</a>-->
<!--          </li>-->

<!--          <li>-->
<!--            <fa-icon [icon]="faPowerOff" class="mr-3"></fa-icon>-->
<!--            <button-->
<!--              class="btn btn-link p-0"-->
<!--              id="qsLogoutBtn"-->
<!--              (click)="logout()"-->
<!--            >-->
<!--              Log out-->
<!--            </button>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</div>-->
